body {
  background-color: black;
}
h1 {
  color: yellow;
}
p {
  color: white;
}
p {
  border: 2px solid powderblue;
  padding: 30px;
}
p {
  border: 2px solid powderblue;
  margin: 50px;
}
ul.a {
	color white;
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
color white;  list-style-type: upper-roman;
}

ol.d {
color white;  list-style-type: lower-alpha;